.gifDiv {
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.rating {
    margin-bottom: 20px;
}

.gifContainer {
    display: inline-block;
    float: left;
    width: 70%;
    min-width: 70%;
    overflow-y: scroll;
    min-height: 100px;
    height: 100%;
    position: fixed;
    background: blue;
}

body {
    background: yellow;
    overflow: hidden;
}

.aside {
    float: right;
    margin-right: 20px;
    padding: 20px;
}

.listBtn {
    margin: 10px 5px;
}

.nav {
    padding-left: 5px;
    background: red;
}

.gifTitle {
    text-align: center;
    font-size: 30px;
}
